<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-2">
      <table class="table">
        <tbody>
        <tr>
          <td>Ми знаходимось:</td>
          <td>Вулиця. блабла</td>
        </tr>
        <tr>
          <td>Наш номер:</td>
          <td>000000000</td>
        </tr>
        <tr>
          <td colspan="2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2187.2408719829737!2d24.73985914241088!3d48.942818033688646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c190c0739805%3A0x90684e3237a75e58!2z0JPQkNCb0JDQmtCQ0JTQldCc0KLQo9CgLCDQotCj0KDQmNCh0KLQmNCn0J3QlSDQkNCT0JXQndCi0KHQotCS0J4sINCT0JDQm9CY0KbQrNCa0JAg0JDQmtCQ0JTQldCc0IbQrywg0IbQndCh0KLQmNCi0KPQoiDQnNCV0J3QldCU0JbQnNCV0J3QotCjINCi0JAg0JXQmtCe0J3QntCc0IbQmtCY!5e1!3m2!1suk!2sua!4v1462261815098" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
