<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<form action="/admin_new" method="POST">
				<div class="form-group">
					<label>Назва піци</label>
					<input name="product[title]" type="text" class="form-control" placeholder="Назва піци"></input>
				</div>
				<div class="form-group">
					<label>Опис</label>
					<input name="product[description]" type="text" class="form-control" placeholder="Опис"></input>
				</div>
				<div class="form-group">
					<label>Ціна</label>
					<input name="product[price]" type="text" class="form-control" placeholder="Ціна"></input>
				</div>
				<div class="form-group">
					<label>Розмір</label>
					<input name="product[size]" type="text" class="form-control" placeholder="Розмір"></input>
				</div>
				<div class="form-group">
					<label class="checkbox-inline">
					<input type="hidden" name="product[is_spicy]" value="0" />
					<input name="product[is_spicy]" type="checkbox" value="1" placeholder="Гостра?"></input>
					Гостра?</label>
				</div>
				<div class="form-group">
					<label class="checkbox-inline">
					<input type="hidden" name="product[is_spicy]" value="0" />
					<input name="product[is_veg]" type="checkbox" value="1" placeholder="Вегетеріанська?"></input>Вегетеріанська?</label>
				</div>
				<div class="form-group">
					<label class="checkbox-inline">
					<input type="hidden" name="product[is_spicy]" value="0" />
					<input name="product[is_best_offer]" type="checkbox" value="1" placeholder="Найкраща?"></input>Найкраща?</label>
				</div>
				<div class="form-group">
					<label>Посилання на фото піци</label>
					<textarea name="product[path_to_image]" type="text" class="form-control" placeholder="Посилання"></textarea>
				</div>
				<button type="submit" class="btn btn-success btn-lg">Додати</button>
			</form>
		</div>
	</div>
</div>