<h2>Дякую вам</h2>
<p>
	Ваше замовлення оформлено
</p>
<p>
	Наші працівники з вами звяжуться
</p>

<script type="text/javascript">
	window.localStorage.clear();
	alert('Ваша корзина очищена');
</script>